<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>com.trgysvc.EliteAgent</string>
	</array>
	<key>com.apple.security.inherit</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.mail</string>
		<string>com.apple.Calendar</string>
		<string>com.apple.systemevents</string>
		<string>net.whatsapp.WhatsApp</string>
		<string>com.apple.MobileSMS</string>
		<string>com.apple.iChat</string>
	</array>
</dict>
</plist>
